@import "tailwindcss";
@import "../styles/tokens.theme.css";
@import "pretendard/dist/web/static/pretendard.css";

@theme {
  /* Font family */
  --font-pretendard: "Pretendard", sans-serif;

  /* Font size + line height */
  --text-3xl: 32px;
  --text-3xl--line-height: 46px;

  --text-2xl: 24px;
  --text-2xl--line-height: 32px;

  --text-xl: 20px;
  --text-xl--line-height: 32px;

  --text-2lg: 18px;
  --text-2lg--line-height: 26px;

  --text-lg: 16px;
  --text-lg--line-height: 26px;

  --text-md: 14px;
  --text-md--line-height: 24px;

  --text-sm: 13px;
  --text-sm--line-height: 22px;

  --text-xs: 12px;
  --text-xs--line-height: 20px;

  --text-xs-regular: 12px;
  --text-xs-regular--line-height: 18px;

  /* Font weight */
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-pretendard);
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}
