@import "tailwindcss";
@import "../styles/tokens.theme.css";
@import "pretendard/dist/web/static/pretendard.css";

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-family-base);
  color: var(--color-text-secondary);
}

button,
input,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

button:disabled {
  cursor: not-allowed;
}

img,
svg {
  -webkit-user-drag: none;
  user-select: none;
}
